@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html , body {
  color: #0a0a0a;
  background: #fff;
  font-family: "Manrope", sans-serif !important;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden !important;
}

@layer components {
  .Resizer {
    @apply w-full px-3.75 mx-auto;
  }

  @media (min-width: 576px) {
    .Resizer {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .Resizer {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .Resizer {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .Resizer {
      max-width: 1140px;
    }
  }

  @media (min-width: 1400px) {
    .Resizer {
      max-width: 1320px;
    }
  }

  @media (min-width: 1600px) {
    .Resizer {
      max-width: 1440px;
    }
  }

  .section {
    padding: 60px 0px;
  }
  .just{
    padding: 0px 0px 100px 0px;
  }

  .only-bottom {
    padding: 0px 0px 80px 0px;
  }

  .only-top {
    padding: 80px 0px 0px 0px;
  }

  @media (max-width: 1000px) {
    .section {
      padding: 60px 0px;
    }
  }
  .bg-gradient {
    background: #004aad;
  }
}

.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0;
}
